.btn{
    border-radius: 7px;
    padding: 7px 30px;
    text-align: center;
    background-color: #DD8604;
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #DD8604;
    transition: 0.5s;
}
.btn:hover{
    background-color: #FFF;
    color: #DD8604;
}
