.header{
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(../public/assets/banner.jpg);
    background-size: cover;
    padding: 5rem 0;
    /* height: 100vh; */
    /* background-attachment: fixed; */
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .barra{
        flex-direction: row;
        justify-content: space-around;
    }
}

.logo{
    cursor: pointer;
    transition: 0.5s;
}
.logo:hover{
    filter: brightness(0.8);
}

.navegation{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    align-items: center;
}
@media (min-width: 768px){
    .navegation{
        margin-top: 0;
        gap: 2rem;
    }
}

.navegation a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 7px;
    transition: 0.5s;
}

.navegation a:hover{
    background-color: #DD8604;
}

.navegation img {
   background-color: #DD8604;
}

.navegation img:hover {
    cursor: pointer;
 }


.nave{
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(../public/assets/banner.jpg);
    background-size: cover;
    padding: 5rem 0;
}