.containerMenu{
    display: grid;
    gap: 1rem;
    padding: 30px 0;
    column-gap: 1rem;
    align-items: center;
}
@media (min-width: 768px){
    .containerMenu{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (min-width: 992px){
    .containerMenu{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}